<h1>Invoices In the system</h1>
<p>Find me in app/views/invoices/index.html.erb</p>
<% if @invoices.blank? %>
<p>There are not any invoices currently in the system.</p>
<% else %>
<p>These are the current invoices in our system</p>

<ul id = "invoices">
	<table>                         
	    <tr>                          
	     <th>Order ID</th>
	     <th>Patient Id</th>
	     <th>State</th>
	    </tr>
	    <% @invoices.each do |data| %>	
		  <tr>
		    <td><%= data.order_id %></td>  
		    <td><%= data.patient_id %></td>
		    <td><%= data.state %></td>
		  </tr>
		<% end %> 
   	</table>  
</ul>

<% end %>
