<h1>Orders In the system</h1>
<p>Find me in app/views/orders/index.html.erb</p>
<% if @orders.blank? %>
<p>There are not any orders currently in the system.</p>
<% else %>
<p>These are the current orders in our system</p>

<ul id = "orders">
   <% @orders.each do |c| %>
   <li><%= link_to c.oid, {:action => 'show', :id => c.id} -%></li>
   <% end %>
</ul>

<% end %>

