<h1>Patients In the system</h1>
<p>Find me in app/views/patients/index.html.erb</p>
<% if @patients.blank? %>
<p>There are not any patients currently in the system.</p>
<% else %>
<p>These are the current patient in our system</p>

<ul id = "patients">
	<table>                         
	    <tr>                          
	     <th>Patient ID</th>
	     <th>Patient Name</th>
	     <th>State</th>
	    </tr>
	    <% @patients.each do |data| %>	
		  <tr>
		    <td><%= data.pid %></td>  
		    <td><%= data.name %></td>
		    <td><%= data.state %></td>
		  </tr>
		<% end %> 
   	</table>  
</ul>

<% end %>
